*.a
*.aps
*.appx
*.db
*.db-shm
*.db-wal
*.dep
*.exe
*.idb
*.ipch
*.la
*.lo
*.log
*.mac
*.mo
*.ncb
*.o
*.obj
*.opendb
*.opt
*.patch
*.pc
*.pdb
*.plg
*.res
*.sig
*.sdf
*.suo
*.swp
*.tlog
*.user
*.opensdf
*.o_manifest
.deps
.libs
Makefile
arm
arm64
x64
x86
autom4te.cache
config.guess
./config.h
config.log
config.status
config.sub
cov-int
cov-int.zip
depcomp
embedded.loc
res/loc/pollock/.vs
res/loc/pollock/bin
res/loc/pollock/obj
rufus_files
stamp-h1

#endless additions below this point
# Visual Studio byproducts
.vs/

# Visual C++ cache files
*.VC.VC.opendb
*.VC.db
ipch/

# Generated code
/src/Endless/Version.h

# 7z objects
/src/7z/**/O
